{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>{{ message }}</h1>
    <hr/>

    <a href="{{ url_for('session_set') }}">Set session data</a>
    <a href="{{ url_for('session_get') }}">Get session data</a>
    <a href="{{ url_for('session_delete') }}">Delete session data</a><br /><br />
    <a href="{{ url_for('cookie_set') }}">Set cookie data</a>
    <a href="{{ url_for('cookie_get') }}">Get cookie data</a>
    <a href="{{ url_for('cookie_delete') }}">Delete cookie data</a>
{% endblock %}
